.list-container{
  font-family: SANS-SERIF !important;
  text-align: center;
  .table-row{
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-align: center !important;
  }
}

