.dashboard_container{
  text-align: center;
  min-height: 50%;
  position: relative;
}
.time-container{
  padding: 20px;
  float: left;
}
.outer{
  margin: 0 auto;
  width: 630px;
}
.time-block{
  width: 50px !important;
  text-align: center;
}
.inner{
}